@media screen and (max-width: 600px) {
  .logo {
    width: 100%;
    height: 78%;
    /* background-color: red; */
    margin-bottom: 15px;
  }
}

.container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 0px 20px;
  gap: 20px
}

.container div,
.container form {
  margin: 0 auto;
  width: 100%;
}

.title {
  font-size: 30px;
  color: #385faa;
}

.logo {
  min-width: 200px;
  max-width: 500px;
}

.form {
  min-width: 200px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

.form input,
.form button {
  padding: 15px 10px;
  border-radius: 5px;
  outline: none;
  text-align: center;
  font-size: 16px;
}

.form input {
  color: #2d70b7;
  font-weight: 500;
  border: 3px solid #2d70b7;
}

.form input::placeholder {
  color: #5d5d5d87;
}

.form button {
  background: #ffcb05;
  border: none;
  border-radius: 5px;
  font-weight: 700;
}

.form button:disabled {
  color: #21386e4e;
}